/*
Theme Name: Templ
Theme URI: https://3d.com
Author: Templ
Author URI: https://templ.com
Description: Templ theme
Version: 1.0
License: Templ
License URI: http://templ.com
*/

/*#################################STICKY FOOTER STYLES#################################*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
}
a {
    text-decoration: none!important;
}
/*#################################HEADER####################################*/
.header {
/*height: 100px;*/
background-color: #434242;
}
.logo {
    width: 166px;
    height: 62px;
}
.navbar {
    background-color: #434242;
}
.navbar a {
    text-decoration: none!important;
    color: #FFFFFF;
    opacity: 0.6;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar a:hover {
    opacity: 1;
}
.navbar-toggler {
    background-color: #FFFFFF;
}
/*.nav-item a {
    color: #FFFFFF!important;
    opacity: 0.6;
}
.nav-item a:hover {
    opacity: 1;
}*/
/*.nav-link {
    color: #FFFFFF!important;
    opacity: 0.6;
}*/
/*#################################SECTION-1#################################*/
.section-1 {
    background-image: url(images/section-1-background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    padding-top: 90px;
}
.section-1-type-img-1 {
    padding-top: 20px;
    margin: 0 auto;
}
.section-1-type-img-block-4 {
    padding-bottom: 60px;
}
.section-1-type-img-line-1 {
    background-color: rgba(0,160,227,0.4);
    text-align: center;
    font-size: 38px;
    color: #FFF;
}
.section-1-type-img-line-3 {
    font-size: 32px;
}
.section-1-type-img-line-4 {
    font-size: 32px;
}
.section-content {
    padding-top: 100px;
    padding-bottom: 30px;
}
.section-content-articles {
    padding-top: 20px;
    padding-bottom: 10px;
}
.dropdown-menu {
    background-color: #434242!important;
}
.dropdown-item {
    background-color: #434242!important;
}
/*#################################SECTION-2#################################*/
.section-2-heading {
    text-align: center;
    color: #00A0E3;
    font-size: 42px;
    padding-top: 20px;
}
.advantage-img-1-block {
    padding-top: 40px;
    padding-bottom: 40px;
}
.advantage-img-1 {
    margin: 0 auto;
}
.advantage-img-1-block-text{
    font-size: 16px;
}
.advantage-img-1-block-text-heading {
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}
.advantage-img-1-block-text-main {
    text-align: center;
}
/*#################################FOOTER####################################*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #434242;
    height: 100px;
}
.footer-copy {
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}
/*#################################Responsive################################*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .logo {
    //margin-top: 57px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .logo {
    }
    .section-1 {
        height: 100%;
    }
    .section-2-heading {
        font-size: 26px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logo {

    }
    .section-1 {
        height: 100%;
    }
    .section-2-heading {
        font-size: 26px;
    }
}